.self {
    display: flex;
    align-items: center;
}

.amountWrapper {
    position: relative;
    flex-grow: 2;
}

.amountWrapper__hidden {
    opacity: 0;
    width: 0;
}

.amount {
    width: 100%;
}

.kindWrapper {
    min-width: 150px;
}

.kindWrapper__hidden {
    width: 100%;
}

.divider {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    height: 60%;
}
